/*SearchMission page start*/
#mission-content {
    position: relative;
}

    #mission-content .show-mission {
        position: absolute;
        z-index: 3;
        padding: 5px;
        margin: 5px;
        background-color: #fff;
        cursor: pointer;
    }

#mission-info {
    width: 30%;
    position: absolute;
    z-index: 3;
    padding: 5px;
    margin: 5px;
    background-color: #fff;
}

    #mission-info .hide-mission {
        float: right;
        padding: 0px 5px 5px 5px;
        margin: 5px;
        background-color: #fff;
        cursor: pointer;
    }

    #mission-info .mission {
        padding: 20px;
    }

/*SearchMission page end*/

/*MissionDetail page Start*/
#mission-state {
    background-color: white;
}
/*MissionDetail page end*/
